.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-theme {
  background-color: rgba(0, 0, 0, 0.4);
  color: #333;
}

.dark-theme button {
  background-color: #333;
}

.dark-theme button:hover {
  transform: scale(1.3);
}

.dark-theme p {
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
}

.dark-theme a.button.button--cart {
  background-color: #333;
}

.dark-theme a.button.button--cart:hover {
  transform: scale(1.3);
}

.dark-theme div.categories ul li {
  background: black;
  color: #fff;
}

.dark-theme div.pizza-block__selector {
  background-color: #333;
  color: #fff;
}

.dark-theme div.pizza-block__selector ul li.active {
  background-color: orange;
  text-transform: uppercase;
}

.dark-theme div.pizza-block__price {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}

.dark-theme ul {
  font-size: large;
}

.dark-theme ul li:hover {
  transform: scale(1.3);
}

.dark-theme h4 {
  font-size: 20px;
}

.light-theme {
  background-color: #fff;
  color: #333;
}
